asn1crypto==0.24.0
cffi==1.12.3
Click==7.0
cryptography==2.7
enum34==1.1.6
Flask==1.0.3
httplib2==0.10.3
idna==2.5
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
oauth==1.0.1
oauth2==1.9.0.post1
pkg-resources==0.0.0
pycparser==2.19
PyLTI==0.4.1
pyOpenSSL==19.0.0
six==1.12.0
Werkzeug==0.15.4
