asn1crypto==0.22.0
cffi==1.10.0
click==6.7
cryptography==2.0
enum34==1.1.6
Flask==0.12.2
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
oauth==1.0.1
oauth2==1.9.0.post1
pkg-resources==0.0.0
pycparser==2.18
PyLTI==0.4.1
pyOpenSSL==17.2.0
six==1.10.0
Werkzeug==0.12.2
